/*
general stuff
*/

html {
  height: 100%;
  background-size: cover;
}

body {
  /*background-color: 
    #393939;*/
  /*background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(50,50,50,220) 7%, rgba(12,12,12,255)), linear-gradient(#ffffbf, #d53e4f);*/
  background-image: linear-gradient(to right, rgba(50,50,50,255), rgba(12,12,12,255));
  background-size: 100%, 100%%;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}


text {
	color: blue;
	text-align: center;
}

/*
axis stuff
*/

p {
  color: White;
  margin: 50px;
}

a {
  color: #4FDEF2;
} 

.solar {
  z-index: 100;
}

.axis {
  fill: #6d6d6d;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.yaxis {
  stroke: #6d6d6d;
  stroke-width: 1px;
  font-weight: lighter;
  fill: none; /*#6d6d6d;*/
  opacity: 0.4;
}

.xaxis {
  stroke: #6d6d6d;
  stroke-width: 1px;
  font-weight: lighter;
  fill: none; /*#6d6d6d;*/
  opacity: 0.4;
}

.taxis {
  stroke: #6d6d6d;
  stroke-width: 1px;
  fill: #474747;
  opacity: 0.5;
}

.axis .halo {
  stroke: #6d6d6d;
  stroke-width: 4px;
  stroke-linecap: round;
}

.axis line {
	fill: none;
	stroke: #6d6d6d;
	shape-rendering: crispEdges;
}

.slider path {
  stroke: #6d6d6d;
  stroke-opacity: 0.3;
}

.slider .handle path {
  stroke: #6d6d6d;
  stroke-opacity: 0.5;
  stroke-width: 4px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider text {
  fill: #6d6d6d;
  opacity: 0.7;
  text-align: center;
  font-size: 32px;
}